.main.container {
  margin: 3em auto 1.5em;
}

.ui.items>.item>.content {
  margin-left: 1em;
}

.ui.vertical.buttons .button.vote-score {
  background: none;
  padding: .5em 0;
  text-align: center;
}

.ui.vertical.buttons .button.circular {
  border-radius: 50%;
}